In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_EM = "C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/CSVS/2017_EMC.csv"

In [3]:
df = pd.read_csv(df_EM)

In [4]:
df.head()

,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,R_SEL,RESUL_H,SEXO,EDAD,AREAM_OCU,...,BP1_36_09,BP1_36_10,BP1_36_11,BP1_36_99,DOMINIO,ESTRATO,EST_DIS,CVE_ENT,CVE_MUN,CLUSTERS
0,2,1,1,1,9,2,1,2,42,14,...,1,0,0,0,1,3,2,1,1,1
1,1,1,1,1,3,1,1,1,48,14,...,9,9,9,9,1,3,2,1,1,1
2,20,1,4,4,2,1,1,2,30,14,...,9,9,9,9,3,2,11,1,1,1
3,4,1,1,2,3,1,1,1,59,14,...,9,9,9,9,1,3,2,1,1,1
4,4,1,1,1,2,1,1,1,38,14,...,9,9,9,9,1,4,233,14,120,1

In [5]:
df.groupby(by = ['CVE_ENT','CVE_MUN'])['CLUSTERS'].value_counts()

CVE_ENT  CVE_MUN  CLUSTERS
1        1        1           955
                  2             6
         2        1             3
         3        1            40
         4        1             4
         5        1           117
         6        1            11
         7        1            21
         9        1            19
         10       1             6
         11       1            49
                  2             1
2        1        1           221
         2        1           842
                  2             2
         3        1            93
                  2             1
         4        1           946
                  2             5
         5        1            27
3        1        1            91
         2        1           107
         3        1           691
                  2             1
         8        1           466
                  2             3
         9        1            17
4        1        1            18
         2        1           382
                  2             5
                             ...
32       17       0           161
         18       0             4
         19       0            12
         20       0            29
         22       0             6
         23       0             6
         24       0             8
         25       0             1
         26       0             2
         31       0             7
         32       0             3
         34       0            23
         36       0             2
         37       0            11
         38       0             5
         39       0            19
         40       0            19
         41       0             1
         42       0            45
         44       0             2
         48       0            21
         49       0             5
         50       0             3
         52       0             2
         53       0             5
         55       0             5
         56       0           110
                  2             1
         57       0             4
         58       0             1
Name: CLUSTERS, Length: 1309, dtype: int64

In [6]:
df.groupby(by = ['CVE_ENT','CVE_MUN'])['CLUSTERS'].value_counts().mode()

0    1
dtype: int64

In [7]:
from scipy import stats
df_mode = df.groupby(['CVE_ENT','CVE_MUN']).CLUSTERS.apply(lambda x:x.mode())

In [8]:
df_mode

CVE_ENT  CVE_MUN
1        1        0    1
         2        0    1
         3        0    1
         4        0    1
         5        0    1
         6        0    1
         7        0    1
         9        0    1
         10       0    1
         11       0    1
2        1        0    1
         2        0    1
         3        0    1
         4        0    1
         5        0    1
3        1        0    1
         2        0    1
         3        0    1
         8        0    1
         9        0    1
4        1        0    1
         2        0    1
         3        0    1
         4        0    1
         5        0    1
         6        0    1
         7        0    1
         8        0    1
         9        0    1
         10       0    1
                      ..
32       16       0    0
         17       0    0
         18       0    0
         19       0    0
         20       0    0
         22       0    0
         23       0    0
         24       0    0
         25       0    0
         26       0    0
         31       0    0
         32       0    0
         34       0    0
         36       0    0
         37       0    0
         38       0    0
         39       0    0
         40       0    0
         41       0    0
         42       0    0
         44       0    0
         48       0    0
         49       0    0
         50       0    0
         52       0    0
         53       0    0
         55       0    0
         56       0    0
         57       0    0
         58       0    0
Name: CLUSTERS, Length: 1095, dtype: int64

In [9]:
df_mode = pd.DataFrame(df_mode)
df_mode

                   CLUSTERS
CVE_ENT CVE_MUN
1       1       0         1
        2       0         1
        3       0         1
        4       0         1
        5       0         1
        6       0         1
        7       0         1
        9       0         1
        10      0         1
        11      0         1
2       1       0         1
        2       0         1
        3       0         1
        4       0         1
        5       0         1
3       1       0         1
        2       0         1
        3       0         1
        8       0         1
        9       0         1
4       1       0         1
        2       0         1
        3       0         1
        4       0         1
        5       0         1
        6       0         1
        7       0         1
        8       0         1
        9       0         1
        10      0         1
...                     ...
32      16      0         0
        17      0         0
        18      0         0
        19      0         0
        20      0         0
        22      0         0
        23      0         0
        24      0         0
        25      0         0
        26      0         0
        31      0         0
        32      0         0
        34      0         0
        36      0         0
        37      0         0
        38      0         0
        39      0         0
        40      0         0
        41      0         0
        42      0         0
        44      0         0
        48      0         0
        49      0         0
        50      0         0
        52      0         0
        53      0         0
        55      0         0
        56      0         0
        57      0         0
        58      0         0

[1095 rows x 1 columns]

In [10]:
df_mode.to_csv('2017_ModeC.csv')