In [1]:
import pandas as pd 
import numpy as np

In [3]:
df_ = "C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/CSVS/IncidenciasC.csv"

In [4]:
df = pd.read_csv(df_)

In [5]:
df.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,TMODVICC_2017
0,1,1,6,15,16,0,1,4,5,4,4,8,7,6,3,7,8,57,1
1,1,1,6,15,17,26,20,14,18,13,8,7,13,6,4,7,12,122,1
2,1,1,6,15,18,2,3,4,6,3,5,6,4,4,4,2,5,46,1
3,1,1,6,15,19,0,0,0,0,0,0,1,0,0,1,5,1,8,1
4,1,1,6,15,20,35,40,32,38,59,66,55,65,53,79,68,49,604,1

In [8]:
df_2 = df[['CVE_ENT','CVE_MUN','CVE_MOD','CVE_TIPO','CVE_SUBTIPO','ENERO','TMODVICC_2017','TOTAL_DELITOS']]

In [9]:
df_2.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,TMODVICC_2017,TOTAL_DELITOS
0,1,1,6,15,16,0,1,57
1,1,1,6,15,17,26,1,122
2,1,1,6,15,18,2,1,46
3,1,1,6,15,19,0,1,8
4,1,1,6,15,20,35,1,604